.cnt1{
color:coral;
height:100px;
}
.cnt2{
    font-family: 'Fruktur', cursive;
    color:green;
}
.fa-solid fa-acorn{
    color:blue;
}
.momo{
    height:350px;
    background-color:cornflowerblue;
}
.buddu{
    height:150px;
    background-color:darkgoldenrod;
}