.tp{
    border: 2px solid pink;
    /* padding:20px; */
     width:500px;  
 /* height:50px;  */
 margin:0 0 50px 0;
    /* background-color: gold; */
font-family: 'Raleway', sans-serif;
}
/* body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
} */

.tp1{
 font-size:2em;
 font-family: 'Mochiy Pop P One', sans-serif;

}
.tp2{
    /* font-family: 'Ceviche One', cursive;

    font-family: 'Dancing Script', cursive;

    font-family: 'Mochiy Pop One', sans-serif;

    font-family: 'Mochiy Pop P One', sans-serif; */

    font-family: 'Mochiy Pop P One', sans-serif;
font-size:32px;
}
div>.tp2{
    color:blue;

}
